moderator.bedones.local {
	# Enable automatic HTTPS with self-signed certificate for local development
	tls internal

	# Reverse proxy to Tan Stack development server
	reverse_proxy 127.0.0.1:3007
}

api-moderator.bedones.local {
	# Enable automatic HTTPS with self-signed certificate for local development
	tls internal

	# Reverse proxy to NestJS development server
	reverse_proxy 127.0.0.1:3005
}
