SERVER_PORT=3005

META_SYSTEM_USER=****
# used to send message as Bedones
CORE_WHATSAPP_NUMBER_ID=104138399136545
TEMPLATE_INVITE_ID=verification_code

# Facebook App Configuration (to be filled with actual values)
FACEBOOK_APP_ID=4075904832690760
FACEBOOK_APP_SECRET=***
FACEBOOK_WEBHOOK_VERIFY_TOKEN=***

# Instagram setup
INSTAGRAM_APP_ID=1336655694790025
INSTAGRAM_APP_SECRET=***
INSTAGRAM_WEBHOOK_VERIFY_TOKEN=***

# TikTok
TIKTOK_CLIENT_KEY=***
TIKTOK_CLIENT_SECRET=***

# WhatsApp Webhook
WHATSAPP_WEBHOOK_VERIFY_TOKEN=***
MIGRATION_TOKEN=***
# Whatsapp seed
SEED_WHATSAPP_PHONE_NUMBER_ID=1003867186133830
SEED_WHATSAPP_TOKEN=***
SEED_WHATSAPP_CATALOG_ID=2398583830601212


# Database
DATABASE_URL=postgresql://bedones:bedones@localhost:5255/bedones

# Redis
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=***
SESSION_SECRET=***

# URLs
APP_URL=https://api-moderator.bedones.local
FRONTEND_URL=https://moderator.bedones.local

# Minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=***
MINIO_SECRET_KEY=***
MINIO_BUCKET=bedones-uploads

NODE_ENV=development


# IA
OPENIA_API_KEY=sk-****
GEMINI_API_KEY=AI***

GEMINI_COMMENT_MODEL=gemini-3-flash-preview
OPENAI_COMMENT_MODEL=gpt-5.4-mini
